.know{
    
    width: 100%;
    /* border: 2px solid teal; */
    padding: 10px;
    
}

.know>div{
    display: grid;
    grid-template-columns: repeat(4,1fr);
     margin-top: 20px;
    width: 90%;
    height: auto;
     /* border: 2px solid teal;  */
    border-radius: 10px;
   
}
.know>div>div{
    text-align: center;
    margin: auto;
    display: block;
   
}
.map-div{
    width: 90%;
    height: 400px;
    margin: 20px;
    padding: 20px;
    margin-top: 20px;
     /* border: 2px solid teal;  */
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.map-div>img{
 width: 100%;
}