/* For desktop */
.categoryContainer {
  /* box-shadow: 0 0 10px black; */
  
  width:80%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: auto;
  
 
}
.main-div{
  display: flex;
}
.attendance{
   margin-top:5%; 
  margin-left: 2%;
  width: 15%;
  
}

.linkContainer {
   background-color: #232323; 
  display: flex;
  flex-direction: column;
  align-items: center;
  height:100%;
 
  justify-content: space-evenly;
  
}

Link {
  /* text-decoration: none; */
  color: rgb(226, 24, 24)
}

h3 {
  font-size: 20px;
  margin: 20px;
}

.linkContainer>div{
 
  border: 2px solid teal;
  width: 70%;
}
.linkContainer>div>img{
  width: 100%;
}
/* For mobile */
@media screen and (max-width: 600px) {
  .categoryContainer {
    margin: 20px 20px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  
  .linkContainer {
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  h3 {
    font-size: 20px;
    margin: 20px;
  }
}
